asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.9
Django==3.2.5
django-crispy-forms==1.12.0
django-unused-media==0.2.2
flatbuffers==2.0
idna==3.3
imageio==2.13.2
networkx==2.6.3
NudeNet==2.0.9
numpy==1.21.4
onnxruntime==1.10.0
opencv-python-headless==4.5.4.60
packaging==21.3
Pillow==8.4.0
progressbar2==3.55.0
protobuf==3.19.1
pydload==1.0.9
pyparsing==3.0.6
python-utils==2.5.6
pytz==2021.1
PyWavelets==1.2.0
requests==2.26.0
scikit-image==0.19.0
scipy==1.7.3
six==1.16.0
sqlparse==0.4.1
tifffile==2021.11.2
urllib3==1.26.7
